<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>

    <!-- Header -->    

    <%- include('../partials/header') %>

    <!-- Sección principal -->

    <section class="registro-login">

        <div class="carga-un-nuevo-producto"> <h3 class="carga-un-nuevo-producto" > ¡Cargá un nuevo producto! </h3> </div>

        <form class="form" action="/products" method="POST" enctype="multipart/form-data">

            <!-- Nombre del Producto -->

            <div class="categoria-create-edit"> Nombre del Producto: </div>
            <div class="datos">
                <input type="text" name="nombre" placeholder=" Nombre del Producto">    
            </div>

            <!-- Descripción del Producto -->

            <div class="categoria-create-edit"> Descripción del Producto: </div>
            <div class="datos" >
                <textarea class="descripcion-del-producto-create-edit" name="descripcion" placeholder=" Escribí una breve descripcion"></textarea>    
            </div>

            <!-- Imágenes --> 

            <div class="datos-imagen">
                <input class="boton-adjuntar" type="file" name="imagen" multiple>    
            </div>

            <!-- Categoría -->

            <div>
                <div class="categoria-create-edit"> Categoría: </div>
                    <% for (let i = 0; i < categories.length; i++) { %>
                    <div class="create-edit-checkbox">
                        <label> <input type="radio" name="categoria" value="<%= categories[i].id %>"> <%= categories[i].nombre %> </label>
                    </div>
                    <% } %> 
            </div>

            <!-- Precio --> 

            <div class="datos" id="precio">
                <input type="text" name="precio" placeholder="Precio (Ej: $ 799,99)" value="">    
            </div>

            <!-- Stock -->

            <div class="datos">
                <input type="text" name="stock" placeholder="Stock (Ej: 100)" value="">    
            </div>

            <!-- Enviar -->

            <div class="datos">
                <button class="boton-create-edit" type="submit"> Enviar </button>
            </div>

            <!-- Borrar -->

            <div class="datos">
                <button class="boton-create-reset" type="reset"> Borrar </button>
            </div>

        </form>
    </section>
    <%- include('../partials/footer') %>
</body>
</html>