<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %>
<body>
    <%- include ('../partials/header.ejs') %>  
	
	<h4 class="productosE">Productos</h4>			
	
	<article class="note">
					<div class="note-header">
						<% products.forEach(products => {%>
							
							<div class="image-note">
						
						<a href="/products/<%=products.id%>"><img src="/images/<%=products.imagenes%>" alt="productos"> </a>
					</div>
						<div class="btn-actions">
						<p class="prices">Nombre: <%=products.nombre%></p>
						<p class="prices"><%=products.precio%></p>
						<p class="prices"><%=products.descripcion%></p>
						<p class="prices">Stock: <%=products.stock%></p>
					
							<% }) %>
						</div>
						</article>               
    <%- include ('../partials/footer.ejs') %>  
</body>
</html>